<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://code.jquery.com https://cdn.jsdelivr.net https://todoapp-a7a9f5a0e861.herokuapp.com">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script src="/change-script"></script>
    <a class="ui blue button right floated" href="/logout">Logout</a>
</head>

<body>

    <div style="margin-top: 50px ;" class="ui container">
    <h1  class="ui center aligned header">To Do App</h1>
    <div class="ui selection dropdown">
        <input type="hidden" name="filter" id="filter" value="all">
        <i class="dropdown icon"></i>
        <div class="default text">Filter Tasks</div>
        <div class="menu">
            <div class="item" data-value="all" onclick="filterTasks('all')">All Tasks</div>
            <div class="item" data-value="completed" onclick="filterTasks('completed')">Completed Tasks</div>
            <div class="item" data-value="notCompleted" onclick="filterTasks('notCompleted')">Incomplete Tasks</div>
        </div>
    </div>
    <form class="ui form" action="/add" method="get">
        <div class="field">
            <label for="title">Your todo list, {{username}}</label>
            <input type="text" id="title" name="title" placeholder="Enter todo ..">
            <br>
            <button class="ui blue button" type="submit">Add</button>
            <a class="ui yellow button" href="/json">JSON</a>
        </div>
    </form>
    {{#repo}}
    <div class="ui segment task {{#completed}}completed{{/completed}}">
        <p class="ui big header">{{name}}
            {{#completed}}
            <i class="green checkmark icon"></i>
            {{/completed}}
        </p>
        <a class="ui blue button" href="/update/{{ name }}">Update</a>
        <a class="ui red button" href="/delete/{{ name }}">Delete</a>
        <button class="ui teal button" onclick="showEditModal('{{ name }}')">Edit</button>
    </div>
    {{/repo}}

    <div id="editModal" class="ui modal">
      <div class="header">Edit Name</div>
      <div class="content">
        <div class="ui input">
          <input type="text" id="editedName" placeholder="Enter new name">
        </div>
      </div>
      <div class="actions">
        <div class="ui button" onclick="closeEditModal()">Cancel</div>
        <div class="ui teal button" onclick="saveEditedName()">Save</div>
      </div>
    </div>
</div>
</body>
</html>